@import '../../colors.scss';

.container {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "title content";
  .title {
    margin: 0px 16px;
    grid-area: title;
    h1, h2, h3 {
      margin: 0;
    }
    .social-icons {
      display: flex;
      font-size: 2rem;
      margin-top: 16px;
      a {
        margin-right: 16px;
        color: $cg-blue;
      }
    }
    .buttons {
      button {
        outline: none;
        padding: 16px;
        color: $cg-blue;
        background-color: $eggshell;
        border: solid $cg-blue 4px;
        font-size: 1.5rem;
      }
      .active {
        background-color: $cg-blue;
        color: $eggshell;

      }
    }
  }
  .content-area {
    grid-area: content;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 48px;
    .social-icons {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 823px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }
}
