<div class="container">
  <div class="title">
    <h1>Brendan McMahon</h1>
    <h3>is a full-stack developer.</h3>
    <p>In his day job, he primarily works in Microsoft Stack - C#, Azure, and stuff like that.</p>
    <p>But in his free time, he loves creating micro-apps that help him in his every day life. Most of these use Angular as a front-end, some have nodejs/express back-ends, a few take advantage of socket.io, and most of them are a work-in-progress. </p>
    <p>Take a look around at the different applications and associated repos!</p>
  </div>
  <div class="content-area">
    <app-projects2></app-projects2>
  </div>
</div>
