<div class="bio">
  <p>I graduated from Butler University in 2013 with a Bachelor of Music in Music Theory and Composition, as well as a minor in Computer Science.</p>
  <p>I subsequently attended Ball State University's graduate program in Communication and Information Sciences where I graduated in 2014.</p>
  <p>After graduating, my wife and I moved to Chicago where I worked as an Associate Account Manager, working on corporate accounts managing our customers' Global Area Networks.</p>
  <p>After a year, I started to miss programming. We moved back to Indianapolis and I worked on a few projects until I found a job at Seven Corners working as a full-stack C# developer in June of 2016.</p>
  <p>Our daughter was born in October of that year, and I remained until our son was born in November of 2018.</p>
  <p>After he was born, I started working for Kar Global, doing the same kind of Microsoft stack work.</p>
  <p>During the pandemic, I started looking for work that had more of an impact on the world. I found that doing even <i>more</i> Microsoft stack stuff along with AWS and React at Bloomerang, where I still work today!</p>
</div>
