
@font-face {
  font-family: chapaza;
  src: url('./assets/fonts/Chapaza.ttf');
}

@font-face {
  font-family: geo;
  src: url('./assets/fonts/GeosansLight.ttf');
}

@font-face {
  font-family: moon-flower;
  src: url('./assets/fonts/Moon Flower.ttf');
}

@font-face {
  font-family: oranienbaum;
  src: url('./assets/fonts/Oranienbaum.ttf');
}
