@import './colors.scss';
@import './fonts.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $eggshell;
  color: $eerie-black;
}

h1 {
  font-family: chapaza;
  font-size: 3rem;
}

h2, h3 {
  font-family: geo;
  font-size: 2rem;
}

p, div {
  font-family: geo;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2, h3 {
    font-size: 1.5rem;
  }
}
